<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>1</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<false/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {806, 536}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2017-01-27 12:16:47 +0000</string>
	<key>Creator</key>
	<string>Juan David Hernández Vega</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 m</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{-30.774745831190273, 190.74748997317107}, {897.36118372320789, 356.34709770379061}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>25</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.07945261923620045, -0.48396875438634535}</string>
					<string>{0.13073375345943566, -0.51376966798937407}</string>
					<string>{0.19680752364040416, -0.44920109234471706}</string>
					<string>{0.23428219756403906, -0.43926738398180298}</string>
					<string>{0.27175687257332642, -0.42933374611412689}</string>
					<string>{0.29838361534308205, -0.50880284905553741}</string>
					<string>{0.3457200469337583, -0.461618069184076}</string>
					<string>{0.39305648190373826, -0.41443331405630612}</string>
					<string>{0.43202027865054676, -0.54853740052624222}</string>
					<string>{0.47095449365268965, -0.40449965144493794}</string>
					<string>{0.50988872467450452, -0.26046194755094276}</string>
					<string>{0.52142695813493978, 0.46221005950615468}</string>
					<string>{0.43000848034556266, 0.47214389037749038}</string>
					<string>{0.33858999678904428, 0.48207752824516437}</string>
					<string>{-0.14542163256106305, 0.49322320824160459}</string>
					<string>{-0.2331749262586342, 0.48704434717900358}</string>
					<string>{-0.32092823952337513, 0.48086548629852599}</string>
					<string>{-0.47380178684457569, 0.54664617438505525}</string>
					<string>{-0.49155294869107935, 0.42992592943986585}</string>
					<string>{-0.50930411053758518, 0.31320568449465824}</string>
					<string>{-0.49844632817994727, -0.38214897576991147}</string>
					<string>{-0.46491634405658583, -0.43430056504797065}</string>
					<string>{-0.43138637167985622, -0.48645216385326639}</string>
					<string>{-0.40278726917450236, -0.43926734562882119}</string>
					<string>{-0.37517435916592834, -0.44175079344872747}</string>
					<string>{-0.34756144073803297, -0.44423420291564708}</string>
					<string>{-0.32981028021715564, -0.47155171450926103}</string>
					<string>{-0.29134942822410814, -0.47651852598559052}</string>
					<string>{-0.2528885775566812, -0.48148534491942774}</string>
					<string>{-0.24697152349694967, -0.45665123762807502}</string>
					<string>{-0.20357979464972675, -0.43678397451488626}</string>
					<string>{-0.16018806569160077, -0.41691669877953341}</string>
					<string>{-0.15328483608462945, -0.51128625852245646}</string>
					<string>{-0.093128120938144321, -0.49886921118786498}</string>
					<string>{-0.032971395830300843, -0.48645218746084029}</string>
					<string>{-0.050722567638165184, -0.48148534491942463}</string>
					<string>{-0.016206419603293831, -0.45665125025023623}</string>
					<string>{0.018309723840597147, -0.43181715802700149}</string>
					<string>{0.028171487137417628, -0.45416784948251743}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>a</key>
						<string>0.360425</string>
						<key>b</key>
						<string>0.998944</string>
						<key>g</key>
						<string>0.767701</string>
						<key>r</key>
						<string>0.448714</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>90</real>
					<key>GradientColor</key>
					<dict>
						<key>a</key>
						<string>0.562927</string>
						<key>b</key>
						<string>0.0664382</string>
						<key>g</key>
						<string>0.0511531</string>
						<key>r</key>
						<string>0.0370638</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.828368</string>
						<key>g</key>
						<string>0.555576</string>
						<key>r</key>
						<string>0.300759</string>
					</dict>
					<key>GapRatio</key>
					<real>0.5</real>
					<key>Width</key>
					<real>4</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{614.45649366403416, 124.59345478757223}, {62.362205505371094, 62.362205505371094}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>75</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>AdjustableArc</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>52</real>
				<key>startAngle</key>
				<real>303</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.218932</string>
						<key>g</key>
						<string>0.190142</string>
						<key>r</key>
						<string>0.81371</string>
					</dict>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{619.31210695981156, 134.13329647212709}, {53.858264923095703, 53.858264923095703}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>74</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>AdjustableArc</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>52</real>
				<key>startAngle</key>
				<real>303</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.218932</string>
						<key>g</key>
						<string>0.190142</string>
						<key>r</key>
						<string>0.81371</string>
					</dict>
					<key>Width</key>
					<real>2.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{624.2692502350634, 141.96185984519323}, {45.354331970214844, 45.354331970214844}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>73</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>AdjustableArc</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>52</real>
				<key>startAngle</key>
				<real>303</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.218932</string>
						<key>g</key>
						<string>0.190142</string>
						<key>r</key>
						<string>0.81371</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{632.77318538208976, 152.40707206890522}, {28.346458435058594, 28.346458435058594}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>72</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>AdjustableArc</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>58</real>
				<key>startAngle</key>
				<real>303</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.218932</string>
						<key>g</key>
						<string>0.190142</string>
						<key>r</key>
						<string>0.81371</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{628.70099846670121, 147.4504084010899}, {36.850391387939453, 36.850391387939453}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>71</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>AdjustableArc</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>52</real>
				<key>startAngle</key>
				<real>303</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.218932</string>
						<key>g</key>
						<string>0.190142</string>
						<key>r</key>
						<string>0.81371</string>
					</dict>
					<key>Width</key>
					<real>1.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{9.3764149658887277, 133.60140116883622}, {62.362205505371094, 62.362205505371094}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>AdjustableArc</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>52</real>
				<key>startAngle</key>
				<real>303</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.218932</string>
						<key>g</key>
						<string>0.190142</string>
						<key>r</key>
						<string>0.81371</string>
					</dict>
					<key>Width</key>
					<real>3</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{14.232028261666159, 143.14124285339108}, {53.858264923095703, 53.858264923095703}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>69</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>AdjustableArc</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>52</real>
				<key>startAngle</key>
				<real>303</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.218932</string>
						<key>g</key>
						<string>0.190142</string>
						<key>r</key>
						<string>0.81371</string>
					</dict>
					<key>Width</key>
					<real>2.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{19.189171536917883, 150.96980622645719}, {45.354331970214844, 45.354331970214844}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>68</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>AdjustableArc</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>52</real>
				<key>startAngle</key>
				<real>303</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.218932</string>
						<key>g</key>
						<string>0.190142</string>
						<key>r</key>
						<string>0.81371</string>
					</dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{27.693106683944222, 161.41501845016921}, {28.346458435058594, 28.346458435058594}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>65</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>AdjustableArc</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>58</real>
				<key>startAngle</key>
				<real>303</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.218932</string>
						<key>g</key>
						<string>0.190142</string>
						<key>r</key>
						<string>0.81371</string>
					</dict>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{363.79203647132869, 209.5442581361981}, {113, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.999991</string>
					<key>g</key>
					<string>0.999974</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>64</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf760
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs36 \cf0 4 to 24 hours}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>63</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{682.12845649304768, 233.6283191690172}</string>
				<string>{682.12845649304836, 210.61946951440248}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>62</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{164.60177060609064, 233.24336378620544}</string>
				<string>{164.60177060609061, 210.2345141315906}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>61</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{680.35854498115418, 221.9690278689838}</string>
				<string>{479.47358838124296, 221.96902786898397}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>60</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{359.29203691437147, 221.73893895889799}</string>
				<string>{163.71681485014383, 221.7389389588981}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>59</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{551.32743595480827, 292.42039396925418}</string>
				<string>{788.49557854853595, 292.42039396925429}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>58</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{764.57083496609914, 214.15929414694045}</string>
				<string>{787.57968462071392, 214.15929414694054}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>57</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{775.84517088332075, 291.26550321718241}</string>
				<string>{775.84517088332075, 263.83187478283548}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>56</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{776.07525979340664, 240.82302512821997}</string>
				<string>{776.07525979340664, 215.15930820576691}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{709.34956130844409, 243.52495974475929}, {90, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.999991</string>
					<key>g</key>
					<string>0.999974</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>55</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf760
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs36 \cf0 Min. depth}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>48</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{36.632742758169435, 529.20354205614149}</string>
				<string>{59.641592412784057, 529.2035420561416}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>47</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{37.017698140981118, 215.04424869505354}</string>
				<string>{60.026547795595825, 215.04424869505362}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>46</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{48.292034058202624, 527.43363054424765}</string>
				<string>{48.292034058202638, 381.41593081303802}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>45</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{48.522122968288436, 359.29203691436959}</string>
				<string>{48.52212296828845, 214.15929293910688}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>2</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{32.010066501178926, 198.42167972300365}, {141.73228740692139, 22.677165985107422}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>29</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{2.7743363392011773, 358.99628162361586}, {95, 22}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0.999991</string>
					<key>g</key>
					<string>0.999974</string>
					<key>r</key>
					<string>1</string>
				</dict>
				<key>Font</key>
				<string>Helvetica-Bold</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>40</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf760
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs36 \cf0 Max. depth}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{635.54989205684512, 187.97920332195935}, {141.73228740692139, 22.677165985107422}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>28</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Rotation</key>
			<real>29</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>34</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Points</key>
			<array>
				<string>{142.85840805804162, 240.7079656175076}</string>
				<string>{218.07964731351325, 529.2035420561424}</string>
				<string>{285.33628476546414, 287.61062068268467}</string>
				<string>{352.52874914859842, 529.20354205614262}</string>
				<string>{419.84955966936593, 288.49557643863136}</string>
				<string>{485.33628560942327, 530.08849781208937}</string>
				<string>{551.70796730542736, 291.15044370647161}</string>
				<string>{617.19469324548447, 530.97345356803635}</string>
				<string>{697.72566703663722, 223.00885049857436}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.82308</string>
						<key>g</key>
						<string>0.257382</string>
						<key>r</key>
						<string>0.398719</string>
					</dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{183.73508144840838, 371.81969973237295}, {141.73228740692139, 22.677165985107422}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>26</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>34</integer>
				<key>Offset</key>
				<real>2.6548671722412109</real>
				<key>Position</key>
				<real>0.20815706253051758</real>
				<key>RotationType</key>
				<integer>4</integer>
			</dict>
			<key>Rotation</key>
			<real>293</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{508.31517224903143, 373.46764168548873}, {141.73228740692139, 22.677165985107422}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>36</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>34</integer>
				<key>Offset</key>
				<real>0.88495564460754395</real>
				<key>Position</key>
				<real>0.78180998563766479</real>
				<key>RotationType</key>
				<integer>4</integer>
			</dict>
			<key>Rotation</key>
			<real>68</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{23.62091976855578, 156.45835478235387}, {36.850391387939453, 36.850391387939453}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>67</integer>
			<key>Layer</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>AdjustableArc</string>
			<key>ShapeData</key>
			<dict>
				<key>endAngle</key>
				<real>52</real>
				<key>startAngle</key>
				<real>303</real>
			</dict>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.218932</string>
						<key>g</key>
						<string>0.190142</string>
						<key>r</key>
						<string>0.81371</string>
					</dict>
					<key>Width</key>
					<real>1.5</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>4</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image3.png</string>
	</array>
	<key>KeepToScale</key>
	<true/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Background</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2017-01-27 14:47:02 +0000</string>
	<key>Modifier</key>
	<string>Juan David Hernández Vega</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{842, 595}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>VerticalGuides</key>
	<array>
		<real>-89</real>
	</array>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{-0, 73}, {1280, 704}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>119</integer>
		<key>VisibleRegion</key>
		<string>{{-89, 49.557522333016529}, {1014.1592963149454, 497.34513484205877}}</string>
		<key>Zoom</key>
		<real>1.1299999952316284</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1.1299999952316284</real>
				<real>1.0800000429153442</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
